.pic{
    width:35%;
    height: 120px;
}
.col-sm-3{
    border: 1px solid black;
    margin: 20px;
    padding :30px;
    
  
}
.price{
    text-align: left;
    width: 90%;
    color: orange;
   
}
.bton{
 width:  25% ;height:27%;
}
.lin{
    text-align: left;
    width: 90%;
}